.ucsb-button {
  margin: 4px 4px 4px 0px;
}

a.ucsb-button.btn {
  text-wrap: wrap;
  white-space: normal;
}

.light-light-gray-btn {
    background-color: #EEF0F2!important;
    color: #3D4952 !important;
  }
  .light-light-gray-btn:hover {
    background-color: #f3f4f5 !important;
  }
  .light-gray-btn {
    background-color: #DCE1E5 !important;
    color: #3D4952 !important;
  }
  .light-gray-btn:hover {
    background-color: #e6eaec !important;
  }
  .mist-btn {
    background-color: #9CBEBE !important;
    color: #3D4952 !important;
  }
  .mist-btn:hover {
    background-color: #a5c4c4 !important;
  }
  .light-mist-btn {
    background-color: #DAE6E6 !important;
    color: #3D4952 !important;
  }
  .light-mist-btn:hover {
    background-color: #e5eded !important;
  }
  .clay-btn {
    background-color: #DCD6CC !important;
    color: #3D4952 !important;
  }
  .clay-btn:hover {
    background-color: #dfdad1 !important;
  }
  .light-clay-btn {
    background-color: #F1EEEA !important;
    color: #3D4952 !important;
  }
  .light-clay-btn:hover {
    background-color: #f5f3f0 !important;
  }
  .sandstone-btn {
    background-color: #C9BF9D !important;
    color: #3D4952 !important;
  }
  .sandstone-btn:hover {
    background-color: #cec5a6 !important;
  }
  .light-sandstone-btn {
    background-color: #EDEADF !important;
    color: #3D4952 !important;
  }
  .light-sandstone-btn:hover {
    background-color: #f2f0e8 !important;
  }
  .gold-btn {
    background-color: #FEBC11 !important;
    color: #3D4952 !important;
  }
  .gold-btn:hover {
    background-color: #fec940
     !important;
  }
  .navy-btn {
    background-color: #003660 !important;
    color: #FFFFFF !important;
  }
  .navy-btn:hover {
    background-color: #004d89 !important;
  }
  .moss-web-btn {
    background-color: #6D7D33 !important;
    color: #FFFFFF !important;
  }
  .moss-web-btn:hover {
    background-color: #81943c !important;
  }
  .sea-green-web-btn {
    background-color: #09847A !important;
    color: #FFFFFF !important;
  }
  .sea-green-web-btn:hover {
    background-color: #0ba699 !important;
  }
  .aqua-web-btn {
    background-color: #047C91 !important;
    color: #FFFFFF !important;
  }
  .aqua-web-btn:hover {
    background-color: #049ab4 !important;
  }
  .coral-btn {
    background-color: #EF5645 !important;
    color: #011517 !important;
  }
  .coral-btn:hover {
    background-color: #f06657 !important;
  }
  .dark-coral-btn {
    background-color:#C43424 !important;
    color: #FFFFFF !important;
  }
  .dark-coral-btn:hover {
    background-color:#d83c2b !important;
  }
  .light-gray-darken-btn {
    background-color: #111517 !important;
    color: #FFFFFF !important;
  }
  .light-gray-darken-btn:hover {
    background-color: #242d32 !important;
  }
  