
/* Text Colors */

.paragraph--type--blade.background-color-ffffff .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-ffffff .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-ffffff .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-ffffff .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-ffffff .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-ffffff .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-ffffff .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-ffffff .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #005aa3, #5e707e !important }

.paragraph--type--blade.background-color-eef0f2 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-eef0f2 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-eef0f2 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-eef0f2 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-eef0f2 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-eef0f2 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-eef0f2 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-eef0f2 .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #005aa3, #3d4952 !important }

.paragraph--type--blade.background-color-dce1e5 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-dce1e5 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-dce1e5 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-dce1e5 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-dce1e5 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-dce1e5 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-dce1e5 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-dce1e5 .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #005aa3, #3d4952 !important }

.paragraph--type--blade.background-color-9cbebe .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-9cbebe .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-9cbebe .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-9cbebe .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-9cbebe .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-9cbebe .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-9cbebe .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-9cbebe .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #3d4952, #3d4952 !important }

.paragraph--type--blade.background-color-dae6e6 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-dae6e6 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-dae6e6 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-dae6e6 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-dae6e6 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-dae6e6 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-dae6e6 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-dae6e6 .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #005aa3, #3d4952 !important }

.paragraph--type--blade.background-color-dcd6cc .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-dcd6cc .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-dcd6cc .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-dcd6cc .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-dcd6cc .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-dcd6cc .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-dcd6cc .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-dcd6cc .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #005aa3, #3d4952 !important }

.paragraph--type--blade.background-color-f1eeea .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-f1eeea .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-f1eeea .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-f1eeea .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-f1eeea .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-f1eeea .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-f1eeea .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-f1eeea .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #005aa3, #3d4952 !important }

.paragraph--type--blade.background-color-c9bf9d .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-c9bf9d .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-c9bf9d .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-c9bf9d .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-c9bf9d .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-c9bf9d .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-c9bf9d .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-c9bf9d .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #3d4952, #3d4952 !important }

.paragraph--type--blade.background-color-edeadf .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-edeadf .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-edeadf .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-edeadf .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-edeadf .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-edeadf .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-edeadf .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-edeadf .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #005aa3, #3d4952 !important }

.paragraph--type--blade.background-color-febc11 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-febc11 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-febc11 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-febc11 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-febc11 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-febc11 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-febc11 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-febc11 .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #3d4952, #3d4952, #3d4952 !important }

.paragraph--type--blade.background-color-003660 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-003660 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-003660 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-003660 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-003660 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-003660 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-003660 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-003660 .paragraph--type--youtube-video-gallery label { color: #ffffff, #ffffff, #ffffff, #ffffff, #ffffff !important }

.paragraph--type--blade.background-color-6d7d33 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-6d7d33 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-6d7d33 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-6d7d33 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-6d7d33 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-6d7d33 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-6d7d33 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-6d7d33 .paragraph--type--youtube-video-gallery label { color: #ffffff, #ffffff, #ffffff, #ffffff, #ffffff !important }

.paragraph--type--blade.background-color-09847a .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-09847a .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-09847a .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-09847a .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-09847a .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-09847a .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-09847a .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-09847a .paragraph--type--youtube-video-gallery label { color: #ffffff, #ffffff, #ffffff, #ffffff, #ffffff !important }

.paragraph--type--blade.background-color-047c91 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-047c91 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-047c91 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-047c91 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-047c91 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-047c91 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-047c91 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-047c91 .paragraph--type--youtube-video-gallery label { color: #ffffff, #ffffff, #ffffff, #ffffff, #ffffff !important }

.paragraph--type--blade.background-color-ef5645 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-ef5645 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-ef5645 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-ef5645 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-ef5645 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-ef5645 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-ef5645 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-ef5645 .paragraph--type--youtube-video-gallery label { color: #111517, #111517, #111517, #111517, #111517 !important }

.paragraph--type--blade.background-color-c43424 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-c43424 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-c43424 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-c43424 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-c43424 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-c43424 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-c43424 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-c43424 .paragraph--type--youtube-video-gallery label { color: #ffffff, #ffffff, #ffffff, #ffffff, #ffffff !important }

.paragraph--type--blade.background-color-000000 .paragraph--type--youtube-video-gallery p,
.paragraph--type--blade.background-color-000000 .paragraph--type--youtube-video-gallery h2,
.paragraph--type--blade.background-color-000000 .paragraph--type--youtube-video-gallery h3,
.paragraph--type--blade.background-color-000000 .paragraph--type--youtube-video-gallery h4,
.paragraph--type--blade.background-color-000000 .paragraph--type--youtube-video-gallery h5,
.paragraph--type--blade.background-color-000000 .paragraph--type--youtube-video-gallery h6,
.paragraph--type--blade.background-color-000000 .paragraph--type--youtube-video-gallery li,
.paragraph--type--blade.background-color-000000 .paragraph--type--youtube-video-gallery label { color: #ffffff, #ffffff, #ffffff, #ffffff, #ffffff !important }



/* Link colors */

.background-color-ffffff .paragraph--type--youtube-video-gallery .play-video {
    color: #005aa3 !important
}

.background-color-eef0f2 .paragraph--type--youtube-video-gallery .play-video {
    color: #005aa3 !important
}

.background-color-dce1e5 .paragraph--type--youtube-video-gallery .play-video {
    color: #005aa3 !important
}

.background-color-9cbebe .paragraph--type--youtube-video-gallery .play-video {
    color: #3d4952 !important
}

.background-color-dae6e6 .paragraph--type--youtube-video-gallery .play-video {
    color: #005aa3 !important
}

.background-color-dcd6cc .paragraph--type--youtube-video-gallery .play-video {
    color: #005aa3 !important
}

.background-color-f1eeea .paragraph--type--youtube-video-gallery .play-video {
    color: #005aa3 !important
}

.background-color-c9bf9d .paragraph--type--youtube-video-gallery .play-video {
    color: #3d4952 !important
}

.background-color-edeadf .paragraph--type--youtube-video-gallery .play-video {
    color: #005aa3 !important
}

.background-color-febc11 .paragraph--type--youtube-video-gallery .play-video {
    color: #3d4952 !important
}

.background-color-003660 .paragraph--type--youtube-video-gallery .play-video {
    color: #ffffff !important
}

.background-color-6d7d33 .paragraph--type--youtube-video-gallery .play-video {
    color: #ffffff !important
}

.background-color-09847a .paragraph--type--youtube-video-gallery .play-video {
    color: #ffffff !important
}

.background-color-047c91 .paragraph--type--youtube-video-gallery .play-video {
    color: #ffffff !important
}

.background-color-ef5645 .paragraph--type--youtube-video-gallery .play-video {
    color: #111517 !important
}

.background-color-c43424 .paragraph--type--youtube-video-gallery .play-video {
    color: #ffffff !important
}

.background-color-000000 .paragraph--type--youtube-video-gallery .play-video {
    color: #ffffff !important
}

.background-color-09847a .paragraph--type--youtube-video-gallery .play-video,
.background-color-000000 .paragraph--type--youtube-video-gallery .play-video,
.background-color-c43424 .paragraph--type--youtube-video-gallery .play-video,
.background-color-6d7d33 .paragraph--type--youtube-video-gallery .play-video,
.background-color-003660 .paragraph--type--youtube-video-gallery .play-video,
.background-color-047c91 .paragraph--type--youtube-video-gallery .play-video {
    border-bottom-color: #fff !important
}

.background-color-ef5645 .paragraph--type--youtube-video-gallery .play-video,
.background-color-9cbebe .paragraph--type--youtube-video-gallery .play-video {
    border-bottom-color: #000 !important
}


/* Icon colors */

.background-color-ffffff .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #005aa3 !important
}

.background-color-eef0f2 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #005aa3 !important
}

.background-color-dce1e5 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #005aa3 !important
}

.background-color-9cbebe .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #3d4952 !important
}

.background-color-dae6e6 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #005aa3 !important
}

.background-color-dcd6cc .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #005aa3 !important
}

.background-color-f1eeea .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #005aa3 !important
}

.background-color-c9bf9d .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #3d4952 !important
}

.background-color-edeadf .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #005aa3 !important
}

.background-color-febc11 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #3d4952 !important
}

.background-color-003660 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #ffffff !important
}

.background-color-6d7d33 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #ffffff !important
}

.background-color-09847a .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #ffffff !important
}

.background-color-047c91 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #ffffff !important
}

.background-color-ef5645 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #111517 !important
}

.background-color-c43424 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #ffffff !important
}

.background-color-000000 .paragraph--type--youtube-video-gallery svg .uc-santa-barbara-icon {
    fill: #ffffff !important
}
